<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente dolorem, temporibus consectetur consequuntur debitis fugit facere mollitia nulla animi maiores?</p>
    </div>
</section>