<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat culpa eius vero deserunt quibusdam
            distinctio! Et repellendus exercitationem, debitis voluptatem quasi tempora quo ipsa, enim possimus animi
            molestiae labore. Totam.</p>
    </div>
</section>