<div class="jumbotron mt-4">
    <h1 class="display-4">NoteLab</h1>
    <p class="lead">Tu espacio personal de notas online</p>
    <hr class="my-4">
    <p>NoteLab es una plataforma online que te permite crear, almacenar y organizar tus notas de manera eficiente. Ya
        sea que estés en la escuela, en el trabajo o simplemente necesites un lugar para tomar notas, NoteLab tiene todo
        lo que necesitas para mantener tus pensamientos y tareas en orden. Con una interfaz fácil de usar y funciones
        avanzadas como etiquetas y búsqueda rápida, NoteLab es la herramienta perfecta para aquellos que buscan una
        forma simple y efectiva de mantenerse organizados y productivos.</p>
    {{!-- <a href="https://www.faztweb.com" class="btn btn-primary">Fazt WEB</a> --}}
</div>