<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App NoteJS and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis iste unde veniam ullam debitis provident, adipisci esse placeat molestiae distinctio doloremque earum reiciendis temporibus sunt ab repellat voluptatem voluptates nisi!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum doloremque possimus eius eos sint voluptatem natus dolorum fugit cum neque similique, mollitia at sequi esse officiis, asperiores, repellendus voluptatibus itaque?</p>
    <a href="https://www.faztweb.com" class="btn btn-primary">Fazt WEB</a>
</div>